.button {
  width: 90px;       /* 横幅 */
  height: 28px;       /* 高さ */
  font-size: 16px;    /* 文字サイズ */
  /*padding: 8px 16px;  /* 内側の余白（上下 左右） */
}

.button2 {
  width: 120px;       /* 横幅 */
  height: 36px;       /* 高さ */
  font-size: 20px;    /* 文字サイズ */
  /*padding: 8px 16px;  /* 内側の余白（上下 左右） */
}

.BT{
    display: block;
    width: 95%;
    border: 0.3px solid #999;
    box-sizing: border-box;
    font-size: 16px;
	text-align: center;  
}

.t1 {
  display: block;              /* ブロック要素として表示（改行される） */
  width: 95%;                  /* 親要素の幅の95%に広げる */
  border: 0px solid #999;      /* 枠線なし（色指定はあるが太さ0） */
  box-sizing: border-box;      /* paddingやborderを含めてwidthを計算 */
  font-size: 20px;             /* 文字サイズを20pxに設定 */
}


.t2{
    display: block;
    width: 80%;
    padding: 0.1em;
    border: 0.1px solid #999;
    box-sizing: border-box;
    margin: auto;
    font-size: 16px;
}

.t3 {
  display: block;              /* ブロック要素として表示（改行される） */
  width: 145%;                  /* 親要素の幅の95%に広げる */
  border: 0px solid #999;      /* 枠線なし（色指定はあるが太さ0） */
  box-sizing: border-box;      /* paddingやborderを含めてwidthを計算 */
  font-size: 16px;             /* 文字サイズを20pxに設定 */
}

table{
	table-layout: fixed;
	width: 95%;
	margin-left: auto;
    margin-right: auto;
}



input:focus, select:focus, textarea:focus {
    background-color: #bde9ba;
}

html, body {
font-size: 16px;
padding: 0; margin: 0
} html, body, 

#map {height: 100%; width: 100%;}
.icon1 {width: 15px !important;height: 15px !important;border-radius: 15px;border: 3px solid #fdfdfd;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);background-color: rgb(255, 25, 147);}
    .icon2 {width: 15px !important;height: 15px !important;border-radius: 15px;border: 3px solid #fdfdfd;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);background-color: rgb(128, 128, 136);}
    .icon3 {width: 15px !important;height: 15px !important;border-radius: 15px;border: 3px solid #fdfdfd;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);background-color: rgb(0, 0, 255);}
	.divicon2{color:red;font-size: 16px}

.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}

.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	font-size: 16px;
}
.window {

	max-width: 400px;
	height: 220px;
	background-color: #bbb8b8;
	border-radius: 10px;
	position: fixed;
	transform: translate(0%, 1%);
	font-size: 12px;
	

}
.text {
	font-size: 16px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

.center-box {
  text-align: center;
}
.btn {
  display: inline-block;
}



